.btn-cadastrar{
    background-color: #76ABAE;
    border-color: #76ABAE;
    cursor: pointer;
    color: #222831;
}
.btn-voltar{
    background-color: #EEEEEE;
    border-color: #EEEEEE; 
    cursor: pointer; 
    color: #222831;
}